
.card{
    background-color: rgb(0, 0, 0) !important;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    height: 150px;
    width: 150px;
    margin: 3PX;
    font-size: 50px !important;
    border-radius: 15px;
    background-color: darkkhaki !important;
}

.btndiv{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resetbtn{
    width: 250px;
    margin-top: 20px;
    height: 50px;
    border: none;
    background-color: rgb(255, 255, 255);
    color : rgb(0, 0, 0);
    border-radius: 10px;
    font-size: 20px;

}

.heading{
    font-family: cursive;
    font-size: 60px;
    border-bottom: 30px;
    color:darkkhaki;
    font-weight: bolder;
}

.cardbackground{
  background-image: url("https://static.dribbble.com/users/1476693/screenshots/7986326/fireworks.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.flip-horizontal-bottom {
	-webkit-animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@-webkit-keyframes flip-horizontal-bottom {
    0% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
    }
    100% {
      -webkit-transform: rotateX(-180deg);
              transform: rotateX(-180deg);
    }
  }
  @keyframes flip-horizontal-bottom {
    0% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
    }
    100% {
      -webkit-transform: rotateX(-180deg);
              transform: rotateX(-180deg);
    }
  }
  